* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  height: 100vh;
 }

.app_header {
  background-color: #222;
  padding: 1rem;
  color: white;
}

.app_main {
  height: 98vh;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.main_drawer {
  background-color: rgb(169, 169, 169);
  color: white;
  min-width: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  overflow: scroll;
}

.board {
  flex-grow: 1;
}

.container_board {
  background-color: rgb(223, 223, 223);
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.shape {
  width: 10rem;
  height: 8rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: scroll;
  border: 1px solid #222;

}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 12px;
}

.draw_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  width: 100%;
  text-align: center;
  padding: 1rem;
  max-height: 95%;
}

.draw_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #222;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  text-align: center;
  padding: 1rem;
}

.draw_title_raper {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.draw_color_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 100;
  margin-right: 12rem;
  position: fixed;
}

.draw_color_wrapper {
  width: auto;
  padding: 0;
}

.draw_color {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.error {
  padding: .7rem;
  width: 20rem;
  margin: 0 auto;
  background-color: rgb(205, 205, 205);
  color: red;
  border-radius: 12px;
  text-align: center;
}

.btn_rapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-primary {
  padding: .3rem 1rem;
  color: rgb(57, 57, 241);
  cursor: pointer;
  border: 1px solid blue;
}

.drawer :hover::after {
  content: 'drop';
  font-size: small;
  position: absolute;
  top:0;
  left: 0%;
  color: red;
}

.canvas_line {
   z-index: -1;
   height:100%
}
 
@media (max-width: 668px) {
  .app_main {
    flex-direction: column-reverse;
    overflow: scroll;
    flex-wrap: nowrap;

  }
  .container_board {
    height: auto;
  }
  .main_drawer {
    width: 100%;
    height: 15rem;
    flex-direction: row;
    overflow: scroll;
  }
}